In [279]:
import csv
import statistics
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [280]:
document_name = "Group118_Assignment1/ODI-2022.csv"
df = pd.read_csv(document_name, delimiter=";")

In [281]:
df.head()

,Tijdstempel,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,Chocolate makes you.....,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
0,4-5-2022 12:12:07,artificial intelligence,yes,0,mu,nee,female,neither,02.05.1998,0,no,0,5,888,23:00,coffee,sun
1,4-5-2022 12:12:07,big data,yes,0,mu,nee,male,fat,29-02-2000,0,yes,200,1,12,32,7777,8964
2,4-5-2022 12:12:09,Computational Science,yes,1,mu,ja,male,fat,29-06-1998,1,no,0,100,9,x,0,0
3,4-5-2022 12:12:09,Bioinformatics and Systems Biology,yes,0,unknown,nee,male,neither,11/05/97,0,no,20,100,31,14:00,good food,no stress
4,4-5-2022 12:12:15,AI,yes,1,mu,ja,male,fat,03-10-1997,0,no,2,100,86,07:20,Sunshine,Good Food

In [283]:
df.describe()

,Tijdstempel,What programme are you in?,Have you taken a course on machine learning?,Have you taken a course on information retrieval?,Have you taken a course on statistics?,Have you taken a course on databases?,What is your gender?,Chocolate makes you.....,When is your birthday (date)?,Number of neighbors sitting around you?,Did you stand up?,What is your stress level (0-100)?,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",Give a random number,Time you went to be Yesterday,What makes a good day for you (1)?,What makes a good day for you (2)?
count,304,304,304,304,304,304,304,304,304,304,304,304,303,304,302,304,304
unique,165,123,3,3,3,3,5,5,295,30,3,77,109,142,177,201,235
top,4-5-2022 12:16:06,AI,yes,0,mu,ja,male,neither,08-05-1998,0,no,10,100,7,23:00,Sun,Food
freq,9,39,185,202,243,158,183,105,3,126,236,22,50,19,21,14,11

In [284]:
df.rename(columns={df.columns[0]: 'timestamp'},inplace=True)
df.rename(columns={df.columns[1]: 'program'},inplace=True)
df.rename(columns={df.columns[2]: 'course_on_ML'},inplace=True)
df.rename(columns={df.columns[3]: 'course_on_IR'},inplace=True)
df.rename(columns={df.columns[4]: 'course_on_stat'},inplace=True)
df.rename(columns={df.columns[5]: 'course_on_databases'},inplace=True)
df.rename(columns={df.columns[6]: 'gender'},inplace=True)
df.rename(columns={df.columns[7]: 'chocolate_makes_you'},inplace=True)
df.rename(columns={df.columns[8]: 'birthday'},inplace=True)
df.rename(columns={df.columns[9]: 'nr_neighbor'},inplace=True)
df.rename(columns={df.columns[10]: 'stand_up'},inplace=True)
df.rename(columns={df.columns[11]: 'stress_lev'},inplace=True)
df.rename(columns={df.columns[13]: 'rand_num'},inplace=True)
df.rename(columns={df.columns[14]: 'bed_time_yesterday'},inplace=True)
df.rename(columns={df.columns[15]: 'good_day1'},inplace=True)
df.rename(columns={df.columns[16]: 'good_day2'},inplace=True)
df.head()

,timestamp,program,course_on_ML,course_on_IR,course_on_stat,course_on_databases,gender,chocolate_makes_you,birthday,nr_neighbor,stand_up,stress_lev,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",rand_num,bed_time_yesterday,good_day1,good_day2
0,4-5-2022 12:12:07,artificial intelligence,yes,0,mu,nee,female,neither,02.05.1998,0,no,0,5,888,23:00,coffee,sun
1,4-5-2022 12:12:07,big data,yes,0,mu,nee,male,fat,29-02-2000,0,yes,200,1,12,32,7777,8964
2,4-5-2022 12:12:09,Computational Science,yes,1,mu,ja,male,fat,29-06-1998,1,no,0,100,9,x,0,0
3,4-5-2022 12:12:09,Bioinformatics and Systems Biology,yes,0,unknown,nee,male,neither,11/05/97,0,no,20,100,31,14:00,good food,no stress
4,4-5-2022 12:12:15,AI,yes,1,mu,ja,male,fat,03-10-1997,0,no,2,100,86,07:20,Sunshine,Good Food

In [285]:
# Looking at most common program responses
print(df["program"].value_counts())

AI                           39
Artificial Intelligence      31
Computational Science        23
Business Analytics           14
Computer Science             10
                             ..
Computer science - BDE        1
None                          1
computational science         1
Medical Natural Sciences      1
MSc Computational Science     1
Name: program, Length: 123, dtype: int64

In [286]:
# Preprocessing program variable.
# Compiled answers for the same program under one label for the top 3 most frequent answers
# Answers with less than 3 responses got categorized as "other"
df["program"] = ["AI" if (x.lower() == "ai" or "artificial" in x.lower()) else x for x in df["program"]]
df["program"] = ["CS" if ("computer" in x.lower() or "computational" in x.lower()) else x for x in df["program"]]
df["program"] = ["BA" if ("business" in x.lower()) else x for x in df["program"]]
top3 = ["AI", "BA", "CS"]
df["program"] = ["Other" if ((x not in top3) and (len(df[df.program == x]) < 3)) else x for x in df["program"]]

In [289]:
df["program"].value_counts() # Most frequent responses after pre-processing

AI                                      97
Other                                   75
CS                                      72
BA                                      26
Bioinformatics and Systems Biology       6
MSc AI                                   5
Bioinformatics                           4
QRM                                      4
Econometrics                             3
Econometrics and Operations Research     3
Human Language Technology                3
Bioinformatics & Systems Biology         3
EOR                                      3
Name: program, dtype: int64

In [290]:
to_be_cleaned = ["course_on_ML", "course_on_stat", "course_on_databases"]
affirm = ["yes", "ja", "mu"]
deny = ["no", "sigma", "nee"]
for col in to_be_cleaned:
    for x in df[col]:
        if x in affirm:
            df[col] = df[col].replace(x,1)
        elif x in deny:
            df[col] = df[col].replace(x,0)

In [291]:
# Replacing all numerical values in the good_day columns with missing values
clean_up = ["good_day1", "good_day2"]
for col in clean_up:
    for x in df[col]:
        if x.isnumeric() == True:
            df[col] = df[col].replace(x, np.nan)

In [292]:
# Cleaning up stress level variable
df["stress_lev"] = [np.nan if (str(x).isnumeric() == False or int(x) > 100 or int(x) < 0) else x for x in df["stress_lev"]]

In [293]:
# Cleaning up neighbors variable
df["nr_neighbor"] = [np.nan if (str(x).isnumeric() == False or int(x) > 15 or int(x) < 0) else x for x in df["nr_neighbor"]]

In [295]:
df.head()

,timestamp,program,course_on_ML,course_on_IR,course_on_stat,course_on_databases,gender,chocolate_makes_you,birthday,nr_neighbor,stand_up,stress_lev,"You can get 100 euros if you win a local DM competition, or we don’t hold any competitions and I give everyone some money (not the same amount!). How much do you think you would deserve then?",rand_num,bed_time_yesterday,good_day1,good_day2
0,4-5-2022 12:12:07,AI,1,0,1,0,female,neither,02.05.1998,0,no,0,5,888,23:00,coffee,sun
1,4-5-2022 12:12:07,Other,1,0,1,0,male,fat,29-02-2000,0,yes,NaN,1,12,32,NaN,NaN
2,4-5-2022 12:12:09,CS,1,1,1,1,male,fat,29-06-1998,1,no,0,100,9,x,NaN,NaN
3,4-5-2022 12:12:09,Bioinformatics and Systems Biology,1,0,unknown,0,male,neither,11/05/97,0,no,20,100,31,14:00,good food,no stress
4,4-5-2022 12:12:15,AI,1,1,1,1,male,fat,03-10-1997,0,no,2,100,86,07:20,Sunshine,Good Food